<!DOCTYPE html>
<!-- Displays the home page, including information about the app and a way to login with facebook -->
<html lang="en">
	<head>
		<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
		<!-- <script src="/javascripts/playera.js"></script> -->
	</head>

	<body>
		<!-- Information about the study -->
		<h1>Error</h1>

	</body>

</html>
