<!DOCTYPE html>
<!-- Displays the home page, including information about the app and a way to login with facebook -->
<html lang="en">
	<head>
		<script src="/socket.io/socket.io.js"></script>
		<script>  
			var socket = io();
  		var counter = 0; 
  	</script>
		<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
		<link href="//code.jquery.com/ui/1.11.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
		<link rel="stylesheet" href="http://jquery-ui.googlecode.com/svn/tags/latest/themes/base/jquery.ui.theme.css" type="text/css" />
  	<link rel="stylesheet" href="http://jquery-ui.googlecode.com/svn/tags/latest/themes/base/jquery.ui.base.css" type="text/css" />
  	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
		<script src="/javascripts/index.js"></script>
	</head>

	<body>
		<!-- Information about the study -->
		<h1>French Toast </h1>

		<p>Thank you for deciding to participate in this experiment. Before we start, please provide the following demographic information.</p>

		<!-- Demographic Information Form -->
		<form>
  		Name:<br>
  		<input type="text" name="name">
  		<br><br>
  		Age:<br>
  		<input type="number" min="1" name="age">
  		<br><br>
  		Gender:<br>
  		<input type="radio" name="gender" value="male" checked> Male<br>
  		<input type="radio" name="gender" value="female"> Female
  		<br><br>
  		<a href='/playera' id="submit" class="btn" value="Submit">Submit</a>
		</form>

	</body>

</html>
