<!DOCTYPE html>
<!-- Displays the home page, including information about the app and a way to login with facebook -->
<html lang="en">
	<head>
		<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
		<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
		<script src="/javascripts/playerb.js"></script>
	</head>

	<body>
		<!-- Information about the study -->
		<h1>Player B</h1>

		<div>
			<div id="questions">
				<h2>List of questions asked before</h2>
			</div>

			<div>
				<h3>Enter your question below</h3>
				<p>Is it more like <input type="text" name="object1"> or like <input type="text" name="object2"> <input id="submit" type="button" value="Submit"></p>
			</div>

			<div>
				<h3>Make a guess</h3>
				<p>Is it <input type="text" name="guess"> <input id="submit2" type="button" value="Submit"></p>
			</div>
		</div>

		

	</body>

</html>
