<!DOCTYPE html>
<!-- Displays the home page, including information about the app and a way to login with facebook -->
<html lang="en">
	<head>
		<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
		<script src="/javascripts/playerbInfo.js"></script>
	</head>

	<body>
		<!-- Information about the study -->
		<h1>French Toast </h1>

		<p>Thank you for participating in this study. This study should take five to ten minutes to complete. We would like you to play a game called french toast with another participant.</p>

		<h2>The Rules of the Game</h2>

		<p>French toast is a game similar to 20 questions. It is played by two players cooperatively. The other player will be randomly assigned a concept in the next page. For example, let's say that they'll be assigned the concept: computer. Your task is to ask questions of the form: "Is it more like a door or a desk," comparing two questions. The other player will answer in such a way as to lead you to the conclusion that the object is a computer. Once you're ready to make a guess, make one and we'll see if you won!</p>

		<p>Good luck and enjoy the game!</p>

		<input id="submit" type="button" value="Start Playing!">

		

	</body>

</html>
