<!DOCTYPE html>
<!-- Displays the home page, including information about the app and a way to login with facebook -->
<html lang="en">
	<head>
	</head>

	<body>
		<!-- Information about the study -->
		<h1>French Toast </h1>

		<p></p>

		

	</body>

</html>
