<!DOCTYPE html>
<!-- Displays the home page, including information about the app and a way to login with facebook -->
<html lang="en">
	<head>
		<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
		<script src="/javascripts/playeraInfo.js"></script>
	</head>

	<body>
		<!-- Information about the study -->
		<h1>French Toast </h1>

		<p>Thank you for participating in this study. This study should take five to ten minutes to complete. We would like you to play a game called french toast with another participant.</p>

		<h2>The Rules of the Game</h2>

		<p>French toast is a game similar to 20 questions. It is played by two players cooperatively. You will be randomly assigned a concept in the next page. For example, let's say that you'll be assigned the concept: computer. The other player will ask you questions of the form: "Is it more like a door or a desk." You will have to pick one of these two objects in such a way as to help the other player to conclude that the object is a computer!</p>

		<p>Good luck and enjoy the game!</p>

		<input id="submit" type="button" value="Start Playing!">

		

	</body>

</html>
