<!DOCTYPE html>
<!-- Displays the home page, including information about the app and a way to login with facebook -->
<html lang="en">
	<head>
		<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
		<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
		<script src="/javascripts/playera.js"></script>
	</head>

	<body>
		<!-- Information about the study -->
		<h1>Player A</h1>

		<div>
			<div id="questions">
				<h2 id="concept">The Concept is</h2>
				<h3>List of questions asked before</h3>
			</div>

			<div>
				<h3>Answer the question below</h3>
				<p id='currentQuestion'>Waiting for question!</p>
				<input type="radio" name="answer" disabled> <label id="choice1">Waiting for first choice</label><br><br>
  			<input type="radio" name="answer" disabled> <label id="choice2">Waiting for second choice</label><br><br>
				<!-- <input type="text" name="answer">  -->
				<input id="submit" type="button" value="Submit" disabled>
			</div>
		</div>

		

	</body>

</html>
