<!DOCTYPE html>
<!-- Displays the home page, including information about the app and a way to login with facebook -->
<html lang="en">
	<head>
		<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
		<!-- <script src="/javascripts/playera.js"></script> -->
	</head>

	<body>
		<!-- Information about the study -->
		<h1>Player A</h1>

		<div>
			<div id="questions">
				<h2>The Concept is Jellyfish</h2>
			</div>

			<div>
				<h3>Answer the question below</h3>
				<p>Is it more like Tofu or like Crackers?</p>
				<input type="text" name="answer"> <input id="submit" type="button" value="Submit">
			</div>
		</div>

		

	</body>

</html>
